<h2>Accessory.io</h2>

{{control-accesory showModalDialog='showModalDialog' pressRelease='pressRelease' takeOffItem='takeOffItem' itemName='hat'}}

{{control-accesory showModalDialog='showModalDialog' pressRelease='pressRelease' takeOffItem='takeOffItem' itemName='beanie'}}

{{control-accesory showModalDialog='showModalDialog' pressRelease='pressRelease' takeOffItem='takeOffItem' itemName='shit'}}

<hr>

<button {{action 'pressRelease'}}>Press release</button>

<button {{action 'receiveAdvice'}}>Help</button>
